<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		
	</connectionStrings>
	<!--<system.web>
		<caching>
			<sqlCacheDependency pollTime="10000" enabled="true" >
				<databases>
					<add connectionStringName="WordCollocationContext" name="TranslationHall2013" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
				</databases>
			</sqlCacheDependency>
		</caching>
	</system.web>-->
</configuration>
